/*General*/

body {
    text-align: center;
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}

.container-fluid {
    width: 100%;
    margin: 0px;
}

.row {
    width: 100%;
    margin: 0;
}

.col-lg-6 {
    width: 100%;
    padding: 0;
}

.affix {
    position: fixed;
    height: 100%;
}


/*Right side*/

.centered {
    margin: 0vw 5vw;
    text-align: center;
}

.name {
    margin-top: 6vw;
    font-family: 'Arvo', serif;
    font-size: 5vw;
    font-weight: bold;
}

.about {
    margin-top: 5vw;
    text-align: justify;
}

.roles {
    font-size: 20px;
}

.contact {
    margin-top: 7vw;
}

.contact h3 {
    font-size: 20px;
}

.icons a {
    margin-top: 5vw;
    margin-right: 0.5vw;
}

.icons img {
    width: 35px;
    height: 35px;
}


/*Left side*/

.left {
    text-align: center;
}

@media (max-width: 800px) {
    .left {
        display: none;
    }
}

.collage-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    text-align: center;
}

/* Create four equal columns that sits next to each other */
.collage-col {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    max-width: 33.3333%;
    padding: 0 3px;
}

.collage-col img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .collage-col {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .collage-col {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.image_title{
   
    text-align: center;
}














